@{
    ViewBag.Title = "Home Page";
}


    <div class="col-md-4">
        <h2>Add employee</h2>
        <p>
            Show and Add Employee
        </p>
        <p><a class="btn btn-default" href="http://localhost:51319/Employees/Index">Show &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add company</h2>
        <p>Show and Add Company</p>
        <p><a class="btn btn-default" href="http://localhost:51319/Companies/Index">Show &raquo;</a></p>
    </div>